<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name='arrow-back' (click)='gotoback()'></ion-icon>
        </ion-buttons>
        <ion-title>rectangle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Wide:</ion-label>
        <ion-input [(ngModel)]="num1" type='number'></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Length:</ion-label>
        <ion-input [(ngModel)]="num2" type='number'></ion-input>
    </ion-item>

    <ion-button color='primary' expand='full' (click)='gotoResult()'>ตำนวนหาพื้นที่รูปสี่เหลี่ยมผืนผ้า</ion-button>

</ion-content>