<ion-header>
    <ion-toolbar>
        <ion-title>ex01</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color='primary' expand='full' (click)='redirectPage("triangle")'>คำนวนหาพื้นที่รูปสามเหลี่ยม</ion-button>
    <ion-button color='primary' expand='full' (click)='redirectPage("rectangle")'>ตำนวนหาพื้นที่รูปสี่เหลี่ยมผืนผ้า</ion-button>
    <ion-button color='primary' expand='full' (click)='redirectPage("square")'>คำนวนหาพื้นที่รูปสี่เหลี่ยมจัตุรัส</ion-button>
    <ion-button color='primary' expand='full' (click)='redirectPage("right-triangle")'>คำนวนปริมาตรทรงสี่เหลี่ยมมุมฉาก</ion-button>
</ion-content>